<div class="col-10" id="manage_units">
        <form>
                {% csrf_token %}
        
                <div class="form-group row">
                    <div class="col">
                        <input class="form-control" type="text" name="form_name" id="form_name"/>
                    </div>
                    <button class="btn btn-light"><i class="fa fa-search"></i></i></button>
                    <a class="btn btn-success pull-right button-orange m-1"  id="btn-add"><i class="fa fa-plus"></i></a>
                </div>
        </form>
    
    <table class="table ">
        <thead>
        <tr>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
            <th style="width: 20%">Название(en)</th>
            <th style="width: 20%">Название(ру)</th>      
        </tr>
        </thead>
        <tbody>

        {% for item in units %}
        {% include 'unit/partial_table_item.html' with unit=item %}
        {% endfor %}

        </tbody>
    </table>
</div>
{% include 'unit/partial_modal_add.html' %}

{% block javascript %}
<script>
    $(document).ready(function () {
        $('#manage_units').find('#btn-add').on('click', function (event) {
            $(".modal-title").text('Добавить единицу измерения');
            $('#unit-modal').modal('show');
        });

        //Обработчик кнопки поиска
        $('#manage_units').find('.btn-light').on('click', function (event) {

            SearchUnitsList();
        });
        function SearchUnitsList() {
            text_ = document.getElementById('units_name').value;
            obj = { 'input_str': text_ };
            //alert('Единицы измерений '+text_);
            //localStorage.setItem('units','1');
            $.ajax({
                url: "unit_container/", //"form_view_list/", // the endpoint
                data: obj,
                type: "GET", // http method request

                // handle a successful response
                success: function (data) {
                    //alert('yes');
                    //$('#div-form-list-table').html(data);
                    $('#v-pills-unit').html(data);
                    localStorage.setItem('units', data);
                    localStorage.setItem('units_name', text_);
                    //$('#units_body').html(data);

                },

                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    alert('no');
                }
            });
        }
    });
</script>
{% endblock %}

