
<tr id="parameter-{{parameter_item.parameter.id}}">    
    <td><a class="btn-open-add-params" href="#">{{ parameter_item.parameter.name_ru }}</a></td>
    <td>{{ parameter_item.data.value }}</td>
    <td>{{ parameter_item.data.rate }}</td>
    <td>{{ parameter_item.data.formula }}</td>
    <!-- <td>{{ parameter_item.data.result }}</td> -->
    <td>
        <button class="btn-edit"  id="btn-parameter-edit"  value="{{parameter_item.parameter.id}}">
            <i class="fa fa-pencil"></i>
        </button>
    </td>
</tr>  
{% for param in parameter_item.data.result %}    
<tr class="additional-param-{{parameter_item.parameter.id}} d-none">
    <td>{{ param.name }}</td>
    <td>{{ param.val }}</td>
    <td>{{ param.rate }}</td>
    <td>{{ param.formula }}</td>
</tr>   
{% endfor %}                 
{% block javascript %}
<script>
    $(document).ready(function() {
        var parameter_data_id = '{{parameter_item.data.id}}';
        var real_estate_id = '{{real_property.id}}';

        $('#parameter-'+'{{parameter_item.parameter.id}}').on("click", ".btn-edit", function(event){
            $.ajax({
                url : "/parameterdata/"+parameter_data_id+"/"+real_estate_id+"/",
                type : "GET",
                success : function(data) {
                    $('#modal-body').html(data);
                    $('#modal-title').text('значения');
                    $('#modal-form').modal('show');
                },
                error : function(xhr,errmsg,err) {

                    }
            });
        });

        $('#parameter-'+'{{parameter_item.parameter.id}}').on("click", ".btn-open-add-params", function(event){
            event.preventDefault();
            $('.additional-param-{{parameter_item.parameter.id}}').each(function(index){
                if($(this).hasClass('d-none'))
                    $(this).removeClass('d-none')
                else
                    $(this).addClass('d-none')
            });
        });
    })
</script>
{% endblock %}
