{% load crispy_forms_tags %}

<div class="modal" tabindex="-1" role="dialog" id="parametr-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title parameter-modal-title">Добавить элемент для парсинга</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body parameter-modal-body">
                <form action="/parameter/add/" method="post">
                    {% csrf_token %}
                    {{ parameter_form|crispy }}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
