<div class="accordion" id="accordion-burden">
  <div class="card">
    <div class="card-header" id="card-burden">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-burden" aria-expanded="true" aria-controls="collapseOne">
          Права и обременения
        </button>
      </h2>
    </div>

    <div id="collapse-burden" class="collapse" aria-labelledby="card-burden" data-parent="#accordion-burden">
      <div class="card-body">
        <table>
        {% for data_field in data_fields.rights %}
            <tr id="{{data_field.id}}">
                <td id="field-point">{{ data_field.field.point }}<td>
                <td id="field-title">{{ data_field.field.title_rus }}<td>
                <td id="field-value">{{ data_field.value }}<td>
                <td id="field-rate">{{ data_field.rate }}<td>
                <td><button class="btn-edit" value="{{data_field.id}}" id="field-btn"><i class="fa fa-pencil"></i></button><td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
