<tr id="parameter-{{parser_parameter_item.id}}">
    {% if user.is_superuser %}
    <td><button class="btn btn-light btn-edit" value="{{parser_parameter_item.id}}" id="btn-edit"><i class="fa fa-pencil"></i></button></td>
    <td><button class="btn btn-light btn-delete" value="{{parser_parameter_item.id}}" id="btn-delete"><i class="fa fa-trash"></i></button></td>
    {% else %}
    <td></td>
    <td></td>
    {% endif %}
    <!-- <td>{{ parser_parameter_item.name }}</td> -->
    <td>{{ parser_parameter_item.name_ru }}</td>
</tr>
{% block javascript %}
<script>

    $(document).ready(function() {
        var parser_parameter_id = '{{parser_parameter_item.id}}';
        
        $('#parameter-'+parser_parameter_id).on("click", ".btn-edit", function(event){

            $.ajax({
            url : "/parserparameter/"+parser_parameter_id, // the endpoint
            type : "GET", // http method request

            // handle a successful response
            success : function(data) {
                $('#modal-body').html(data);
                $('#modal-title').text('Параметр парсера');
                $('#modal-form').modal('show');
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {

                }
            });

        });

        $('#parameter-'+parser_parameter_id).on("click", ".btn-delete", function(event){

            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url : "/parserparameter/"+parser_parameter_id+"/delete/", // the endpoint
                type : "DELETE", // http method request

                // handle a successful response
                success : function(data) {
                    updateFormsList();
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {

                    }
            });

        });
    })

</script>
{% endblock %}
