{% load custom_tags %}
<li>
    {% if form_categories %}
        {% with False as is_form_category %}        
            {% for item in form_categories.all %}            
                {% if item.id == category_item.id %}
                    {% update_variable True as is_form_category %}                    
                    <input type="checkbox" id="category-{{parent_item_id}}-{{category_item.id}}" value="{{category_item.id}}" name="categories" checked/> 
                {% endif %}
                {% if forloop.last and is_form_category == False %}
                    <input type="checkbox" id="category-{{parent_item_id}}-{{category_item.id}}" value="{{category_item.id}}" name="categories"/>    
                {% endif %}
            {% endfor %}
        {% endwith %}
    {% else %}
        <input type="checkbox" id="category-{{parent_item_id}}-{{category_item.id}}" value="{{category_item.id}}" name="categories"/>         
    {% endif %}
    <label> {{category_item.point}} {{category_item.name_ru}} </label>
        {% if category_item.categories and category_item.categories.all.count > 0 %}    
        <ul>
            {% for category_child_item in category_item.categories.all|category_sort_by_point %}            
                {%with category_item=category_child_item parent_item_id=category_item.id parent_parent_id=parent_item_id template_name="search_form/form_category_child.html" %}
                    {%include template_name%}
                {%endwith%}
            {% endfor %}
        </ul>
        {% endif %}
</li>
{% block javascript %}
<script>
    $(document).ready(function() {
        var category_id = '{{category_item.id}}';
        var parent_id = '{{parent_item_id}}'; 
        var parent_parent_id = '{{parent_parent_id}}'
        
        $('#category-'+parent_id+'-'+category_id).on('click', function(event){            
            let parent_checkbox = $('#category-'+parent_parent_id+"-"+parent_id);
            let is_checked = $(this).prop("checked") == true
            if (parent_checkbox)
                parent_checkbox.attr("checked", is_checked);
        });
    });
</script>
{% endblock %}
