{% extends 'base.html' %}

{% block constructor %}

{% include 'modal_form/modal_form.html' %}

<div class="row mt-2">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                aria-controls="v-pills-home" aria-selected="true">Справочник форм</a>

            {% if user.is_superuser or user.groups.all.0|stringformat:"s" == "SystemAdministrator" %}
            <a class="nav-link" id="v-pills-category-tab" data-toggle="pill" href="#v-pills-category" role="tab"
                aria-controls="v-pills-category" aria-selected="false">Справочник элементов</a>
            <a class="nav-link" id="v-pills-parameter-tab" data-toggle="pill" href="#v-pills-parameter" role="tab"
                aria-controls="v-pills-parameter" aria-selected="false">Справочник параметров</a>
            <a class="nav-link" id="v-pills-classifier-tab" data-toggle="pill" href="#v-pills-rate-classifier" role="tab"
                aria-controls="v-rate-classifier" aria-selected="false">Справочник классификатора рейтинга</a>
            <a class="nav-link" id="v-pills-unit-tab" data-toggle="pill" href="#v-pills-unit" role="tab"
                aria-controls="v-pills-unit" aria-selected="false">Единицы измерения</a>
            <a class="nav-link" id="v-pills-typeofvalue-tab" data-toggle="pill" href="#v-pills-typeofvalue" role="tab"
                aria-controls="v-pills-typeofvalue" aria-selected="false">Справочник значений рейтинга</a>
            <a class="nav-link" id="v-pills-parser-parameters-tab" data-toggle="pill" href="#v-pills-parser-parameters"
                role="tab" aria-controls="v-pills-parser-parameters" aria-selected="false">Справочник источников парсинга</a>
            {% endif %}
        </div>
    </div>

    <div class="col-10">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                {% include 'search_form/form_container.html' %}
            </div>
            {% if user.is_superuser or user.groups.all.0|stringformat:"s" == "SystemAdministrator" %}
            <div class="tab-pane fade" id="v-pills-category" role="tabpanel" aria-labelledby="v-pills-category-tab">
                {% include 'category/category_container.html' %}
            </div>
            <div class="tab-pane fade" id="v-pills-parameter" role="tabpanel" aria-labelledby="v-pills-parameter-tab">
                {% include 'parameter/parameter_container.html' %}
            </div>
            <div class="tab-pane fade" id="v-pills-rate-classifier" role="tabpanel" aria-labelledby="v-pills-classifier-tab">
                {% include 'rate_classifier/classifier_container.html' %}
            </div>
            <div class="tab-pane fade" id="v-pills-unit" role="tabpanel" aria-labelledby="v-pills-unit-tab">
                {% include 'unit/unit_container.html' %}
            </div>
            <div class="tab-pane fade" id="v-pills-typeofvalue" role="tabpanel"
                aria-labelledby="v-pills-typeofvalue-tab">
                {% include 'type_of_value/typeofvalue_container.html' %}
            </div>
            <div class="tab-pane fade" id="v-pills-parser-parameters" role="tabpanel"
                aria-labelledby="v-pills-parser-parameters-tab">
                {% include 'parser/parser_container.html' %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    
    function updateParserTypesList() {
       {% comment %} text_='yandex_transport';
        obj={'input_str':text_};
        $.ajax({
            url : "parser_container/", //"form_view_list/", // the endpoint
            data:obj,
            type : "GET", // http method request

            // handle a successful response
            success : function(data) {
                alert('123');
                //$('#div-form-list-table').html(data);
                $('#v-pills-parser-parameters').html(data);
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {

            }
        });{% endcomment %}
        obj=localStorage.getItem('parser');
        obj_name=localStorage.getItem('parser_name');
        alert(obj);
        alert(obj_name);
        //alert(obj_name);
       // alert(obj);
        if((obj!=null)&&(obj_name!=null)){
            $('#v-pills-parser-parameters').html(obj);
            obj_text=document.getElementById('parser_name');
            obj_text.value=obj_name;
            localStorage.removeItem('parser');
            localStorage.removeItem('parser_name');
        }
        else{
            $.ajax({
            url : "parsertypes/", // the endpoint
            type : "GET", // http method request

            // handle a successful response
            success : function(data) {
                $('#v-pills-parser-parameters').html(data);
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {

            }
        });
        }

    }

    function updateUnitList() {
        obj=localStorage.getItem('units');
        obj_name=localStorage.getItem('units_name');
        if((obj!=null)&&(obj_name!=null))
        {
            //alert(obj);
             $('#v-pills-unit').html(obj);
             obj_text=document.getElementById('units_name');
            obj_text.value=obj_name;
            localStorage.removeItem('units');
            localStorage.removeItem('units_name');
        }
        else{
            $.ajax({
            url : "units/", // the endpoint
            type : "GET", // http method request

            // handle a successful response
            success : function(data) {
                $('#v-pills-unit').html(data);
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {

            }
        });
        }

    }

    function updateFormsList() {
        $.ajax({
            url : "forms/", //"form_view_list/", // the endpoint
            type : "GET", // http method request

            // handle a successful response
            success : function(data) {
                //$('#div-form-list-table').html(data);
                $('#v-pills-home').html(data);
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {

            }
        });
    }    

    function updateTypesOfValuesList() {
       /* text_='Число';
        obj={'input_str':text_};
        $.ajax({
            url : "typeofvalue_container/", //"form_view_list/", // the endpoint
            data:obj,
            type : "GET", // http method request

            // handle a successful response
            success : function(data) {
                //$('#div-form-list-table').html(data);
                $('#v-pills-typeofvalue').html(data);
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                alert(errmsg);
                alert(err);
                alert(xhr);
            }
        });*/
        obj=localStorage.getItem('typeofvalue');
        obj_name=localStorage.getItem('typeofvalue_name');
        //alert(obj_name);
       // alert(obj);
        if((obj!=null)&&(obj_name!=null))
        {
            //alert(obj);
             $('#v-pills-typeofvalue').html(obj);
             obj_text=document.getElementById('typeofvalue_name');
            obj_text.value=obj_name;
            localStorage.removeItem('typeofvalue');
            localStorage.removeItem('typeofvalue_name');
        }
        else{
            $.ajax({
            url : "typesofvalues/", //"form_view_list/", // the endpoint
            type : "GET", // http method request

            // handle a successful response
            success : function(data) {
                $('#v-pills-typeofvalue').html(data);
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {

            }
        });
        }


    }
      function GetLinkByRef(id_ref){
    links=document.getElementsByTagName('a');
    var elem=null;
    console.debug(id_ref);
    for(var i=0;i<links.length;i++)
    {
        index_=links[i].href.indexOf(id_ref);
        if(index_!=-1){
            elem=links[i];
            break;
        }
    }

    return elem;
}
    function LoadPage(){
        obj=localStorage.getItem('list_categories');
       //alert(obj);
        index_=0;
        if (obj!=null){
            list_ = JSON.parse(obj);
            item = GetLinkByRef(list_[0]);
            if (item != null)
                item.click();
        }
    }
    function LoadCategoryPage() {
        obj=localStorage.getItem('list_categories');
       //alert(obj);
        index_=0;
        if (obj!=null) {
            list_ = JSON.parse(obj);
            item = GetLinkByRef(list_[0]);
            if (item != null)
                item.click();
               for(index=1;index<list_.length;index++)
            {
            item = GetLinkByRef(list_[index]);
            if (item != null)
            {
                tokens_=list_[index].trim().split('-');
                parent_id=tokens_[1];
                if (parent_id=="")
                    parent_id="-";
                category_id=tokens_[2];
                $.ajax({
                    headers: { "X-CSRFToken": '{{csrf_token}}' },
                    url : "/constructor/categories/"+category_id+"/", // the endpoint
                    type : "GET", // http method request

                    success : function(data) {
                        $('#child-categories-'+parent_id+'-'+category_id).html(data);
                    },
                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {

                    }
                });
                console.log(list_[index]);
            }
            else
                break;
            }

            if(index==list_.length-1)
            {
                localStorage.removeItem('list_categories');
                localStorage.setItem('index_',0);
            }


        }



    }
    function updateCategory(){
        {% comment %}obj={'input_str':'апт'};
        $.ajax({
            url : "category_container/", // the endpoint
            data:obj,
            type : "GET", // http method request

            // handle a successful response
            success : function(data) {
                $('#v-pills-category').html(data);
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {

            }
        });{% endcomment %}
        obj=localStorage.getItem('category');
        obj_name=localStorage.getItem('category_name');
        alert(obj);
        if((obj!=null)&&(obj_name!=null))
        {
            //alert(obj);
             $('#v-pills-category').html(obj);
             obj_text=document.getElementById('category_name_');
            obj_text.value=obj_name;
            localStorage.removeItem('category_name');
            localStorage.removeItem('category');
        }
        else{
            $.ajax({
            url : "categories/", // the endpoint
            type : "GET", // http method request

            // handle a successful response
            success : function(data) {
                $('#v-pills-category').html(data);
                //LoadCategoryPage();

            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {

            }});
        }


    }

    function updateParameterList(){

        obj=localStorage.getItem('params');
        obj_name=localStorage.getItem('params_name');
        //alert(obj_name);
       // alert(obj);
        if((obj!=null)&&(obj_name!=null))
        {
            //alert(obj);
             $('#v-pills-parameter').html(obj);
             obj_text=document.getElementById('params_name');
            obj_text.value=obj_name;
            localStorage.removeItem('params_name');
            localStorage.removeItem('params');
        }
        else{
            $.ajax({
            url : "parameters/", // the endpoint
            type : "GET", // http method request

            // handle a successful response
            success : function(data) {
                $('#v-pills-parameter').html(data);
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {

            }
        });
        }

    }

    function updateClassifier(){
        $.ajax({
            url: "{% url 'passport_app:rate_classifier.list' %}",
            type: "GET",
            success: function (data) {
                $('#v-pills-rate-classifier').html(data);
                $("#v-pills-classifier-tab").tab('show')
            },
            error: function (xhr, errmsg, err) {

            }
        });
    }

    $(document).ready(function () {
        updateFormsList();

        $('#v-pills-home-tab').on('click', function (e) {
            updateFormsList();
        });

        $('#v-pills-parameter-tab').on('click', function (e) {
            updateParameterList();
        });

        $('#v-pills-category-tab').on('click', function (e) {
            updateCategory();
        });

        $('#v-pills-unit-tab').on('click', function (e) {
            updateUnitList();
        });

        $('#v-pills-typeofvalue-tab').on('click', function (e) {
            updateTypesOfValuesList();
        });

        $('#v-pills-parser-parameters-tab').on('click', function (e) {
            updateParserTypesList();
        });

        $("#v-pills-classifier-tab").on('click', function(e){
            updateClassifier();
        });

        let selectedTab = window.location.hash;
        $('.nav-link[href="' + selectedTab + '"]').trigger('click');
    });
</script>
{% endblock %}