{% extends 'base.html' %}

{% block content %}
    {% if error == '' %}
        <div class="row my-3">
            <div class="col-8">
                <div id="yandex-map" style="width: 750px; height: 320px"></div>
            </div>
            <div class="col-4">
                <table class="table-bordered" style="height: 100%;">
                    <tbody>
                        <tr class="d-flex">
                            <td class="col-5">Отчет</td>
                            <td class="col-7">{{real_property.report_number}}</td>
                        </tr>
                        <tr class="d-flex">
                            <td class="col-5"> Дата</td>
                            <td class="col-7">{{real_property.create_date|date:'d-m-Y'}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center p-3 text-muted" style="font-size: 22px;">
                                Отчёт R.E.I.S. об объекте собран и обработан интеллектуальной системой «Недвижимость»
                                <h2 class="mt-2">Рейтинг: {{total_rate|floatformat:"-2"}}</h2>
                            </td>                        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        {% include 'passport/partial_details_view.html' %}

        {% include 'passport/partial_edit_modal_view.html' %}
        
        <div class="pt-1">
            <!--<a href="/#profile" class="btn btn-primary button-orange pull-right">Сохранить</a>-->
            <a href="" class="btn btn-primary button-orange pull-right btn-save">Сохранить</a>
        </div>
    {% else %}
        <p>{{error}}</p>
    {% endif %}
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        // $(".btn-edit").on("click", function (value) {

        //     let id = $(this).attr('value');
        //     let row = $(this).closest('tr');            
        //     let field_value = row.find('#field-value').text();
        //     let field_rate = row.find('#field-rate').text();
        //     $('#edit-modal').find('#modal-field-value').val(field_value);
        //     $('#edit-modal').find('#modal-field-rate').val(field_rate);
        //     $('#edit-modal').find('#modal-field-id').val(id);
        //     $('#edit-modal').modal('show');

        // });

        // $(".btn-save").on("click", function (value) {

        //     let fields = {'data':[]};
        //     let rows = $('.container').find('tr');
        //     for(var i = 0; i < rows.length; i++){
        //         let row = $(rows[i]);
        //         var tr_item =  {};
        //         if(!row.attr('id')){
        //             continue;
        //         }
        //         tr_item['id'] = row.attr('id');
        //         tr_item['value'] = row.find('#field-value').text();
        //         tr_item['rate'] = row.find('#field-rate').text();
        //         fields.data.push(tr_item);
        //     }            

        //     $.ajax({
        //         headers: { "X-CSRFToken": '{{csrf_token}}' },
        //         url : "/update/", // the endpoint
        //         type : "POST", // http method
        //         data : {
        //             fields: JSON.stringify(fields)
        //         },

        //         // handle a successful response
        //         success : function(json) {                    
        //             window.location('/#profile');

        //         },

        //         // handle a non-successful response
        //         error : function(xhr,errmsg,err) {
        //         }
        //     });
        // });
    });

    ymaps.ready(function(){
        var myMap = new ymaps.Map("yandex-map", {
            center: [{{real_property.latitude}},{{real_property.longitude}}],
            zoom: 15,
            controls: []
        });
        
        var myGeoObject = new ymaps.GeoObject({
            geometry: {
                type: "Point", 
                coordinates: [{{real_property.latitude}},{{real_property.longitude}}] 
            }
        });

        myMap.geoObjects.add(myGeoObject); 
    });
</script>
{% endblock %}