
<div class="modal  bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1" id="modal-spinner">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="width: 48px">
            <span class="fa fa-spinner fa-spin fa-3x"></span>        
        </div>
    </div>
</div>
{% block javascript %}
<script>
            
    $(document)
   .ajaxStart(function () {       
       $('#modal-spinner').modal('show');       
   })
   .ajaxStop(function () {
       $('#modal-spinner').modal('hide');
   });
</script>
{% endblock %}
